* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #8D99AE;
}

header {
	position: sticky;
	top: 0;
}

.navbar {
	height: 80px;
	max-width: 100%;
	background: #2B2D42;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.navbar a {
	text-decoration: none;
	color: #EDF2F4;
	border: solid 1px #2B2D42;
	padding: 10px;
	margin: 50px;
	border-radius: 13px;
}

.navbar a:hover {
	background-color: #EDF2F4;
	color: #2B2D42;
	border: solid 1px #EDF2F4;
}

.wrapper {
	height: 2000px;
	width: 100%;
	padding-top: 20px;
}

#selection {
	border: solid 1px #EDF2F4;
	background-color: #EDF2F4;
	color: #2B2D42;
}