body,
html {
	margin: 0;
	padding: 0;
}

.header {
	border-top: 1px solid white;
	background: white;
	color: #333;
	height: 150px;
}

.menu {
	height: 80px;
	width: 100%;
	background: #edf2f4;
	color: white;
	text-align: center;
    display: flex;
    justify-content: center;
    
}

.wrapper {
	height: 2000px;
	width: 100%;
	padding-top: 20px;
}

.fixed {
	position: fixed;
	top: 0;
}

.menu ul a {
	text-decoration: none;
	list-style: none;
	color: #2b2d42;
	border: solid 1px white;
	padding: 10px;
	display: flex;
}

.menu ul a:hover {
	background-color: #ef233c;
}
