@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&family=Mukta:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');

* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #b08968;
}

header {
	position: sticky;
	top: 0;
	font-family: 'Mukta', sans-serif;
	z-index: 10000;
}

.container {
	height: 80px;
	max-width: 100%;
	background: #0B090A;
	position: relative;
}

.navbar {
	width: 100%; 
	position: absolute;
	display: flex;
	height: 80px;
	align-items: center;
	justify-content: center;
}

.navbar a {
	text-decoration: none;
	color: #F5F3F4;
	border: solid 1px #0B090A;
	padding: 10px;
	margin: 40px;
	border-radius: 13px;
	/* background-color: #d90429; */
	z-index: 1000;
}

.navbar a:hover {
	background-color: #F5F3F4;
	color: #161A1D;
	border: solid 1px #F5F3F4;
}

#selection {
	border: solid 1px #F5F3F4;
	background-color: #F5F3F4;
	color: #161A1D;
}

header .logo {
	height: 80px;
	width: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	/* background-color: aqua; */
	z-index: 1;
}

header .logo img {
	height: 70px;
}

/* header .logo i {
	color: #d90429;
	font-size: 50px;
	transform: rotate(45deg);
} */

header .socialNetworks {
	height: 80px;
	width: 98%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: end;
	/* background-color: yellowgreen; */
}

header .socialNetworks svg {
	margin: 20px;
	height: 30px;
}

.wrapper {
	height: 1000px;
}